@use '../../styles/vars';

.social_0 {
  --i: 0;
}

.social_1 {
  --i: 1;
}

.social_2 {
  --i: 2;
}

.social_3 {
  --i: 3;
}

.social_4 {
  --i: 4;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  animation: from_bottom .5s ease-out;

  &__socials {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.25s;
    margin-bottom: 10em;

    &.opened li {
      transform: rotate(calc(360deg / 5 * var(--i)));
    }

    &.opened &__toggle__label {
      opacity: 0;
    }

    &__toggle {
      position: absolute;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 30;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(20px) translateX(80px);

      &__img {
        height: 140px;
      }

      &__label {
        position: relative;
        top: 1em;
        font-size: 0.8em;
        text-align: center;
        color: vars.$white;
        background-color: vars.$mainColor;
        padding: 1em;
        width: 15em;
        border-radius: 20px;
        transition: .3s;
      }
    }

    &__links {
      position: absolute;
      left: 0;
      list-style: none;
      transform-origin: 180px;
      transition: 0.5s;
      transition-delay: calc(0.1s * var(--i));
      transform: rotate(0deg) translateX(160px);
      background-color: vars.$mainColor;
      border-radius: 50%;

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding: 1em;
        transform: rotate(calc(360deg / -5 * var(--i)));

        &:hover {
          .about__socials__links__label {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      &__img {
        z-index: 2;
      }

      &__label {
        position: absolute;
        bottom: -1.8em;
        font-size: 0.8em;
        color: vars.$white;
        z-index: 1;
        opacity: 0;
        transform: translateY(-2em);
        transition: 0.3s;
      }
    }
  }

  &__history {
    margin-left: 10em;
    width: 70em;
    margin-bottom: 3em;

    &__title {
      font-size: 3em;
      font-weight: bold;
      color: vars.$white;
      margin-bottom: 1rem;
    }

    &__text {
      color: vars.$grey;
      font-size: 1.1em;

      &_violet {
        color: vars.$mainColor;
        margin-left: 0.5em;
        font-weight: bold;
      }
    }

    &__images {
      margin-top: 3em;
      margin-bottom: 10em;
      display: flex;
      justify-content: space-evenly;
      width: 70em;

      &__item {
        height: 100px;
        border-radius: 50%;
        transition: .3s;

        &:hover {
          transform: scale(5);
        }
      }
    }
  }
}

@keyframes from_bottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}