.loader {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__img {
    height: 20vh;
    animation: loading 2s linear infinite;
    z-index: 1001;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}