@use '../../../styles/vars';

.maja {
  width: 50em;
  transition: .3s;
  animation: from_nothing .5s ease-out;

  &__quit {
    border: none;
    background-color: vars.$black;
    padding: 1em;
    border-radius: 50%;
    border: 2px solid vars.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(10em, -5em);
    position: relative;
    transition: .2s;

    &__icon {
      z-index: 2;
    }

    &__label {
      z-index: 1;
      opacity: 0;
      color: vars.$white;
      position: absolute;
      text-align: center;
      transition: .3s;
      transform: translateY(1em);
    }

    &:hover {
      .maja__quit__label {
        transform: translateY(4em);
        opacity: 1;
      }
    }

    &:active {
      transform: translate(10em, -5em) scale(0.8);
    }
  }

  &__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;

    &__title {
      color: vars.$white;
      font-weight: bold;
      font-size: 3em;
    }

    &__logo {
      height: 6em;
      transition: .3s;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &__infos {
    &__list {
      &__item {
        color: vars.$white;

        &__title {
          font-weight: bold;
        }

        &__role {
          margin-top: 0.5em;
          margin-bottom: 3em;
          color: vars.$grey;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 10em;

      &__item {
        &__link {
          width: 15em;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__icon {
            background-color: vars.$mainColor;
            padding: 0.7em;
            border-radius: 50%;
            height: 50px;
            z-index: 2;
          }

          &__label {
            position: absolute;
            text-align: center;
            z-index: 1;
            opacity: 0;
            color: vars.$white;
            transform: translateY(2em);
            transition: .3s;
          }

          &:hover {
            .maja__infos__buttons__item__link__icon {
              border: 2px solid vars.$white;
            }

            .maja__infos__buttons__item__link__label {
              opacity: 1;
              transform: translateY(4em);
            }
          }

          &:active {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}