@layer components
  .token.skip-link
    left: var(--gutter)
    position: fixed
    top: var(--space-m)
    transition: translate var(--transition-base, 0) var(--timing, ease)
    translate: 0 calc(-100% - var(--space-m) - 12px)
    z-index: 30

    &:focus-visible
      translate: 0
