@use '../../../styles/vars';

.poupets {
  margin-top: 2em;
  width: 100vw;
  transition: .3s;
  opacity: 0;
  transform: translateY(-100px);
  animation: apparition 1s ease-out forwards;

  &__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;

    &__logo {
      height: 70px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        height: 100%;
      }
    }

    &__title {
      color: vars.$white;
      font-weight: bold;
      font-size: 1.5em;
    }

    &__quit {
      position: relative;
      background-color: vars.$black;
      height: 40px;
      width: 40px;
      padding: 1em;
      border-radius: 50%;
      border: 2px solid vars.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
      cursor: none;

      &__icon {
        height: 15px;
      }

      &__label {
        position: absolute;
        opacity: 0;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  &__infos {
    width: 100vw;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 8em;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__item {
        width: 90vw;

        &__title {
          color: vars.$white;
          font-weight: bold;
        }

        &__text {
          margin-top: 0.5em;
          margin-bottom: 2em;
          color: vars.$grey;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 1em;

      &__item__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          width: 50px;
          background-color: vars.$mainColor;
          padding: 0.8em;
          border-radius: 50%;

          &__img {
            height: 100%;
          }
        }

        &__label {
          font-size: 0.8em;
          margin-top: 1em;
          color: vars.$white;
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .poupets {
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

    &__header {
      width: 40em;
      padding: 5em;
      justify-content: space-between;

      &__title {
        font-size: 2.5em;
      }

      &__logo {
        height: 6em;
      }

      &__quit {
        transform: translate(100%, -100%);
        width: 50px;
        height: 50px;

        &__icon {
          height: 20px;
          z-index: 2;
        }

        &__label {
          z-index: 1;
          opacity: 0;
          color: vars.$white;
          text-align: center;
          transition: .3s;
          transform: translateY(1em);
        }

        &:hover {
          .poupets__header__quit__label {
            transform: translateY(3em);
            opacity: 1;
          }
        }

        &:active {
          transform: translate(100%, -100%) scale(0.8);
        }
      }
    }

    &__infos {
      width: 30em;

      &__list {
        align-items: baseline;

        &__item {
          width: auto;

          &__text {
            margin-top: 0.1em;
          }
        }
      }

      &__buttons {
        margin-bottom: 10em;

        &__item {
          &__link {
            position: relative;

            &__icon {
              padding: 0.7em;
              z-index: 2;
              border: 2px solid vars.$mainColor;
            }

            &__label {
              position: absolute;
              text-align: center;
              font-size: 1em;
              z-index: 1;
              opacity: 0;
              transform: translateY(1em);
              transition: .3s;
              width: 15em;
            }

            &:hover {
              .poupets__infos__buttons__item__link__icon {
                border-color: vars.$white;
              }

              .poupets__infos__buttons__item__link__label {
                opacity: 1;
                transform: translateY(3em);
              }
            }
          }
        }
      }
    }
  }
}
