@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Source Code Pro';
  background: vars.$black;
  width: 100vw;
  height: 100vh;
  cursor: none;

  ::selection {
    background-color: vars.$mainColor;
    color: vars.$white;
  }
}