@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  cursor: none !important;
}

body {
  font-family: 'Poppins';
  background: vars.$black;
  line-height: 140%;

  ::selection {
    background-color: vars.$mainColor;
    color: vars.$white;
  }
}

@keyframes from_nothing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes from_bottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}