@use '../../styles/vars';

.nav {
  position: fixed;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5em;

    &__button {
      margin: 1em;

      &__item {
        display: flex;
        align-items: center;
        transition: .2s;

        &__label {
          transform: translateX(-2em);
          color: vars.$white;
          transition: .3s;
          opacity: 0;
          z-index: 1
        }

        &:hover {
          .nav__list__button__item__icon {
            opacity: 1;
          }

          .nav__list__button__item__label {
            transition: .3s;
            transform: translateX(1em);
            opacity: 1;
          }
        }

        &:active {
          transform: scale(0.9) translateX(-0.5em);
        }

        &__icon {
          height: 60px;
          padding: 1.3em;
          background-color: vars.$mainColor;
          border-radius: 50%;
          z-index: 2;
        }

      }
    }
  }
}  

.active {
  .nav__list__button__item__icon {
    border: 2px solid vars.$white;
    height: 61px;
    padding: 1.2em;
  }
}

@media screen and (max-width: 850px) {
  .nav {
    bottom: 0;
    height: auto;
    width: 100vw;
    margin-bottom: 1em;

    &__list {
      flex-direction: row;
      margin-left: 0;

      &__button {
        margin: 0;

        &__item__label {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .nav__list__button__item__icon {
    height: 50px;
    padding: 1em;
  }

  .active {
    .nav__list__button__item__icon {
      border: 2px solid vars.$white;
      height: 51px;
      padding: 0.9em;
    }
  }
}