$wide-screen: 900px

@mixin wide
  @media (width >= $wide-screen)
    @content

@mixin field-dominant
  --focus: var(--accent)
  --outline: var(--on-dominant)

  background: var(--field-dominant)
  color: var(--on-dominant)

@mixin field-secondary
  --focus: var(--print-ink)
  --outline: var(--print-ink)

  background: var(--field-secondary)
  color: var(--on-secondary)

@mixin page
  display: flex
  flex: 1
  flex-direction: column
