@use '../../styles/vars';

.cursor {
  z-index: 5;
  pointer-events: none;
  overflow: hidden;
  transform: translate(0, 0);
  position: fixed;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &__element {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: vars.$white;
    border: 1px solid vars.$black;
    z-index: 10;
  }
}

@media screen and (max-width: 850px) {
  .cursor {
    display: none;
  }

  .body {
    cursor: auto;
  }
}