@use '../../styles/vars';

.portfolio {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: from_nothing .3s ease-out;

  &__menu {
    position: fixed;
    bottom: 5em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__list {
      width: 50em;
      display: flex;
      position: relative;

      &__item {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;
        border: 1px solid vars.$grey;
        flex-grow: 1;
        transition: width .3s ease;
        border-radius: 5px;
        height: 10em;
        margin: 1em;
        cursor: pointer;

        &:hover {
          width: 60%;
          border-color: vars.$mainColor;

          .portfolio__menu__list__item__img {
            transform: translateY(-1em);
            height: 80px;
          }

          .portfolio__menu__list__item__title {
            opacity: 1;
            transform: translateY(2em);
          }
        }

        &:active {
          transition: .2s;
          transform: scale(0.9);
        }

        &__img {
          height: 100px;
          border-radius: 50%;
          padding: 1em;
          z-index: 3;
          transition: .3s;
        }

        &__title {
          position: absolute;
          color: vars.$white;
          opacity: 0;
          z-index: 2;
          transform: translateY(1em);
          transition: .3s;
        }
      }
    }
  }
}

.project_selected {
  border-color: vars.$grey;
  background-color: vars.$mainColor;
}