@use '../../styles/vars';
.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: from_nothing .5s ease-out;

  &__img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 7em;
  }

  &__title {
    font-size: 10em;
    font-weight: bold;
    color: vars.$white;
  }

  &__text {
    margin-top: 5em;
    color: vars.$grey;
  }

  &__button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s;

    &__icon {
      background-color: vars.$mainColor;
      border-radius: 50%;
      padding: 1em;
      margin-top: 3em;
      z-index: 2;
    }

    &__label {
      color: vars.$white;
      opacity: 0;
      width: 10em;
      transition: .3s;
      transform: translateY(-1em);
    }

    &:hover {
      .not-found__button__label {
        opacity: 1;
        transform: translateY(1em);
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 850px) {
  .not-found {
    margin-bottom: 5em;

    &__img {
      margin-bottom: 2em;
    }

    &__title {
      font-size: 5em;
    }

    &__text {
      margin-top: 1em;
      font-size: 0.8em;
    }

    &__button {
      &__label {
        opacity: 1;
        transform: none;
        margin-top: 1em;
      }

      &:hover {
        .not-found__button__label {
          transform: none;
        }
      }
    }
  }
}